In [2]:
import pandas as pd
import numpy as np

In [21]:
cases = pd.read_csv('Cleaned_Data/FINAL_COVID_CASES.csv')
cases = cases.sort_values(by=['Date', 'State', 'County Name'])
cases.drop('Unnamed: 0', axis=1, inplace=True)
cases.rename(columns = {'value':'Cases'}, inplace = True)
cases.head(10)

                     County Name State        Date  Cases
69       Aleutians East Borough     AK  2021-01-21     41
70   Aleutians West Census Area     AK  2021-01-21    275
72           Bethel Census Area     AK  2021-01-21   3047
73          Bristol Bay Borough     AK  2021-01-21      0
79    City and Borough of Juneau    AK  2021-01-21   1094
91     City and Borough of Sitka    AK  2021-01-21    291
95  City and Borough of Wrangell    AK  2021-01-21     18
96   City and Borough of Yakutat    AK  2021-01-21      0
74               Denali Borough     AK  2021-01-21     62
75       Dillingham Census Area     AK  2021-01-21    154

In [22]:
deaths = pd.read_csv('Cleaned_Data/FINAL_COVID_DEATHS.csv')
deaths = deaths.sort_values(by=['Date', 'State', 'County Name'])
deaths.drop('Unnamed: 0', axis=1, inplace=True)
deaths.rename(columns = {'value':'Deaths'}, inplace = True)
deaths.head(10)

                     County Name State        Date  Deaths
69       Aleutians East Borough     AK  2021-01-21       0
70   Aleutians West Census Area     AK  2021-01-21       0
72           Bethel Census Area     AK  2021-01-21      18
73          Bristol Bay Borough     AK  2021-01-21       0
79    City and Borough of Juneau    AK  2021-01-21       3
91     City and Borough of Sitka    AK  2021-01-21       0
95  City and Borough of Wrangell    AK  2021-01-21       0
96   City and Borough of Yakutat    AK  2021-01-21       0
74               Denali Borough     AK  2021-01-21       0
75       Dillingham Census Area     AK  2021-01-21       1

In [30]:
vacc = pd.read_csv('Cleaned_Data/FINAL_VACCINATIONS.csv')
vacc = vacc.sort_values(by=['Date', 'State','County Name'])
vacc.drop('Unnamed: 0', axis=1, inplace=True)
vacc = vacc[['County Name', 'State', 'Date', 'Series_Complete_Yes', 
             'Series_Complete_Pop_Pct', 'Administered_Dose1_Pop_Pct', 'Booster_Doses_Vax_Pct']]
vacc

,County Name,State,Date,Series_Complete_Yes,Series_Complete_Pop_Pct,Administered_Dose1_Pop_Pct,Booster_Doses_Vax_Pct
37,Aleutians East Borough,AK,2021-01-21,0,0.0,0.0,NaN
38,Aleutians West Census Area,AK,2021-01-21,0,0.0,0.0,NaN
64,Anchorage Municipality,AK,2021-01-21,4376,1.5,7.9,NaN
210,Bethel Census Area,AK,2021-01-21,801,4.4,18.1,NaN
282,Bristol Bay Borough,AK,2021-01-21,0,0.0,0.0,NaN
...,...,...,...,...,...,...,...
1099097,Teton County,WY,2021-12-21,20737,88.4,95.0,35.8
1099166,Uinta County,WY,2021-12-21,9257,45.8,54.3,31.8
1099204,Unknown County,WY,2021-12-21,9605,0.0,0.0,32.9
1099332,Washakie County,WY,2021-12-21,3126,40.1,43.9,40.7
1099410,Weston County,WY,2021-12-21,2355,34.0,38.3,38.0

In [31]:
# Merge cases & deaths
cases_deaths = cases.merge(deaths[['Date', 'County Name', 'State', 'Deaths']], 
               on = ['Date', 'County Name', 'State'], how = 'left')
cases_deaths

                         County Name State        Date  Cases  Deaths
0            Aleutians East Borough     AK  2021-01-21     41       0
1        Aleutians West Census Area     AK  2021-01-21    275       0
2                Bethel Census Area     AK  2021-01-21   3047      18
3               Bristol Bay Borough     AK  2021-01-21      0       0
4         City and Borough of Juneau    AK  2021-01-21   1094       3
...                              ...   ...         ...    ...     ...
1069650           Sweetwater County     WY  2021-12-21   8243     107
1069651                Teton County     WY  2021-12-21   5505      14
1069652                Uinta County     WY  2021-12-21   4121      31
1069653             Washakie County     WY  2021-12-21   1860      37
1069654               Weston County     WY  2021-12-21   1243      14

[1069655 rows x 5 columns]

In [36]:
#unique values of county
unq = cases_deaths['County Name'].unique()
unq

array(['Aleutians East Borough ', 'Aleutians West Census Area ',
       'Bethel Census Area ', ..., 'Uinta County ', 'Washakie County ',
       'Weston County '], dtype=object)

In [49]:
#strip trailing blanks
cases_deaths['County Name'] = cases_deaths['County Name'].map(lambda x: x.strip())
cases_deaths

                        County Name State        Date  Cases  Deaths
0            Aleutians East Borough    AK  2021-01-21     41       0
1        Aleutians West Census Area    AK  2021-01-21    275       0
2                Bethel Census Area    AK  2021-01-21   3047      18
3               Bristol Bay Borough    AK  2021-01-21      0       0
4        City and Borough of Juneau    AK  2021-01-21   1094       3
...                             ...   ...         ...    ...     ...
1069650           Sweetwater County    WY  2021-12-21   8243     107
1069651                Teton County    WY  2021-12-21   5505      14
1069652                Uinta County    WY  2021-12-21   4121      31
1069653             Washakie County    WY  2021-12-21   1860      37
1069654               Weston County    WY  2021-12-21   1243      14

[1069655 rows x 5 columns]

In [ ]:
#keep counties in vacc that match cases_deaths
vacc[vacc['County Name'].isin(unq_list)]
vacc

In [56]:
complete_final = cases_deaths.merge(vacc[['Date', 'County Name', 'State', 'Series_Complete_Yes', 
                                          'Series_Complete_Pop_Pct', 'Administered_Dose1_Pop_Pct',
                                          'Booster_Doses_Vax_Pct']], 
                                   on= ['Date', 'County Name', 'State'], how = 'inner')
complete_final

,County Name,State,Date,Cases,Deaths,Series_Complete_Yes,Series_Complete_Pop_Pct,Administered_Dose1_Pop_Pct,Booster_Doses_Vax_Pct
0,Aleutians East Borough,AK,2021-01-21,41,0,0,0.0,0.0,NaN
1,Aleutians West Census Area,AK,2021-01-21,275,0,0,0.0,0.0,NaN
2,Bethel Census Area,AK,2021-01-21,3047,18,801,4.4,18.1,NaN
3,Bristol Bay Borough,AK,2021-01-21,0,0,0,0.0,0.0,NaN
4,Denali Borough,AK,2021-01-21,62,0,0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
1033803,Sweetwater County,WY,2021-12-21,8243,107,18451,43.6,54.4,33.1
1033804,Teton County,WY,2021-12-21,5505,14,20737,88.4,95.0,35.8
1033805,Uinta County,WY,2021-12-21,4121,31,9257,45.8,54.3,31.8
1033806,Washakie County,WY,2021-12-21,1860,37,3126,40.1,43.9,40.7
1033807,Weston County,WY,2021-12-21,1243,14,2355,34.0,38.3,38.0

In [57]:
complete_final.to_csv('final_data.csv')

In [59]:
edited_final = complete_final.dropna()

In [60]:
edited_final.to_csv('final2.csv')